@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* --- Colores --- */
:root {
    --white: #ffffff;
    --black: #030303;
    --green: #85C442;
    --pink: #EB2185;
    --red: #EF1043;
    --yellow: #F9C80B;
    --blue: #0C56B9;
    --orange: #FFA500;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    /* Esto ocultará el scroll horizontal si lo hubiera */
    margin: 0 auto;
    /* Centra el contenido en la página */
}

p {
    font-size: 1.2rem;
}

a {
    font-size: 1.2rem;
}

/* --- Titulos --- */
.he-1 {
    font-size: 7rem;
    font-weight: 800;
}

.he-2 {
    font-size: 6rem;
}

.he-3 {
    font-size: 4rem;
    font-weight: 700;
}

.he-4 {
    font-size: 3rem;
    font-weight: 400;
}

.he-5 {
    font-size: 2.5rem;
    font-weight: 400;
}

.he-6 {
    font-size: 2rem;
    font-weight: 400;
}

.new-spirit {
    font-family: "new-spirit", serif !important;
}

.neometric {
    font-family: 'Neometric Bold', sans-serif !important;
}

/* --- Primera seccion --- */
#Primera-seccion {
    height: 100vh;
    position: relative;
}

#Primera-seccion p,
#Primera-seccion a {
    font-size: 1.7rem;
    font-family: "new-spirit", serif !important;
}

#Primera-seccion p {
    max-width: 50%;
    font-weight: 500;
}

#Primera-seccion h1 {
    font-family: 'Neometric Bold', sans-serif;
}

.yellow {
    color: var(--yellow);
}

.black {
    color: var(--black) !important;
}

.fa-arrow-circle-right {
    font-size: 2.5rem;
}

.sparks-text {
    transform: rotate(-70deg);
    max-width: 109px !important;
    position: absolute;
    top: 25%;
    left: 2%;
}

/* Confetti Green Yellow Orange */
.confettiGYO {
    width: 280px !important;
    position: absolute;
    left: -7%;
    top: 64vh;
}

/* Confetti Pink Yellow Pink */
.confettiPYP {
    width: 1000px !important;
    position: absolute;
    left: 75%;
    top: 16vh;
}

.mouse {
    position: relative;
    animation: mover 2s ease-in-out 4;
    transform: translateY(-100px);
    cursor: default;
}

.mouse p {
    margin: 0 !important;
    font-weight: 500;
}

@keyframes mover {

    0%,
    100% {
        transform: translateY(-100px);
        /* Estado inicial y final: sin traslación vertical */
    }

    50% {
        transform: translateY(-120px);
        /* Traslación hacia arriba en la mitad de la animación */
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 19.5%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--yellow);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* --- Segunda seccion --- */
#Segunda-seccion {
    height: 85vh;
}

#Segunda-seccion h2 {
    font-weight: 800;
}

#Segunda-seccion .new-spirit a {
    font-weight: 800;
}

#Segunda-seccion .new-spirit a,
#Segunda-seccion .new-spirit p {
    font-size: 2rem !important;
}

.blue {
    color: var(--blue);
}

.letra-sauce {
    font-family: "Gloria Hallelujah";
}

#Segunda-seccion .letra-sauce {
    font-size: 2rem;
}

#Segunda-seccion .col-1 img {
    position: absolute;
    left: 36%;
    top: 143vh;
    filter: hue-rotate(208deg);
}

/* --- Tercera Seccion --- */
#Tercera-seccion {
    height: 80vh;
}

.slides-container {
    display: flex;
    z-index: 10;
}

.slide {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--blue);
    overflow: hidden;
    /* Para ocultar el contenido que se extiende más allá del ancho original */
    transform-origin: right;
    /* Establecer el punto de origen en el lado derecho */
    transition: all 0.5s ease-in;
    background-color: var(--white);
    min-height: 600px;
    max-height: 600px;
}

.slide h6 {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 260px;
    transition: all 0.8s ease;
}

.slide h2 {
    margin-bottom: 50px;
    margin-top: 60px;
    font-weight: 800;
}

.slides-container {
    display: flex;
    z-index: 10;
}

.slide:hover h6 {
    transform: scale(2);
    min-height: 200px;
    padding-top: 50px;
}

.slide:hover h2 {
    margin-top: 0;
    min-height: 200px;
}

.slide-text {
    display: none;
}

.slide:hover .slide-text {
    display: block;
}

.slide-1:hover {
    width: calc(30% + 40vw);
    /* Incrementar el ancho original */
    margin-left: -40vw;
    /* Aplicar margen negativo para mantener el centro del contenido */
}

.slide-2:hover {
    width: calc(30% + 55vw);
    /* Incrementar el ancho original */
    margin-left: -55vw;
    /* Aplicar margen negativo para mantener el centro del contenido */
    z-index: 11;
}

.slide-3:hover {
    width: calc(30% + 70vw);
    /* Incrementar el ancho original */
    margin-left: -70vw;
    /* Aplicar margen negativo para mantener el centro del contenido */
    z-index: 12;
}

/* --- Cuarta seccion --- */
#Cuarta-seccion {
    height: auto;
    padding-left: 8%;
    padding-right: 8%;
    /* position: relative; */
}

#Cuarta-seccion h2 {
    font-weight: 800;
}

.confettiPBO {
    position: absolute;
    top: 252vh;
    left: -1%;
}

.confettiGBY {
    position: absolute;
    top: 312vh;
    left: 86%;
}

/* --- Quinta seccion --- */
#Quinta-seccion {
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
}

#Quinta-seccion h2 {
    font-weight: 800;
}

.green {
    color: var(--green);
}

#Quinta-seccion>.row>.col-5 {
    position: relative;
    display: flex;
    flex-direction: column;
    /* Cambio a dirección de columna */
    align-items: flex-start;
}

.spark-quinta-seccion {
    position: absolute;
    top: -2rem;
    left: 36rem;
}

.bottom-line {
    border-bottom: 5px solid var(--black);
}

.contenedor-cartas {
    padding-top: 7.5rem !important;
}

.contenedor-cartas .justify-content-center {
    gap: 15%;
}

.elemento {
    width: 550px;
    aspect-ratio: 14 / 16;
    border-radius: 18px;
    background-size: cover;
    position: relative;
    filter: grayscale(80%) contrast(1);
    transition: filter 0.3s;
}

.tarjeta-1 {
    background-image: url('https://www.hollywoodreporter.com/wp-content/uploads/2017/06/1343232_mkt-pm_got_s7_jon_po_-_embed_2017.jpg');
}

.tarjeta-2 {
    background-image: url('https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F6%2F2017%2F06%2Funknown-4-2000.jpg');
}

.elemento:hover {
    filter: none;
}

.contenido {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    background-color: transparent;
    transition: background-color 0.3s, opacity 0.3s;
    cursor: default;
}

.elemento:hover .contenido {
    background-color: var(--yellow);
    opacity: 0.85;
}

.contenido p {
    max-width: 350px;
    color: var(--black);
    text-align: center;
    opacity: 0;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.contenido h4 {
    font-weight: 800;
    position: absolute;
    bottom: 5%;
    color: var(--yellow);
    transition: color 0.3s ease;
}

.elemento:hover .contenido p {
    opacity: 1;
}

.elemento:hover .contenido h4 {
    color: var(--black)
}


/* --- Sexta seccion --- */
#Sexta-seccion {
    height: 100vh;
    position: relative;
}

.banner-azul h4 {
    font-size: 3.5rem;
}

.bg-blue h4 {
    color: var(--white);
    margin: 6%;
}

.contenedor-chiles {
    gap: 10rem!important;
}

.contenedor-chiles p {
    font-size: 1.7rem;
}

.confettiPO {
    position: absolute;
    left: -28%;
    top: 5%;
}

/* --- Septima seccion --- */
#Septima-seccion {
    height: 60vh;
    padding: 0 8%;
    position: relative;
}

#Septima-seccion h4 {
    font-size: 3.5rem;
}

#Septima-seccion p, #Septima-seccion a {
    font-size: 2rem;
}

#Septima-seccion a {
    font-weight: 400;
}

.orange {
    color: var(--orange);
}

.confettiRBY {
    position: absolute;
    left: 79%;
    top: 10%;
}

/* --- Octava seccion --- */
#Octava-seccion {
    height: 70vh;
    position: relative;
}

#Octava-seccion h2{
    font-weight: 800;
}

#Octava-seccion p {
    font-size: 2rem;
}

.tacos {
    width: 300px;
}
















/* --- Edits de la scrollbar --- */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background-color: #CBCBCB;
    outline: 2px solid #FFF;
    outline-offset: -2px;
    border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
}